html {
    background-color: #9a8;
    color: #111;
}

a { color: #226; }

a:visited { color: #626; }

input::placeholder {
    color: #555;
}

input {
    display: block;
    color: #111;
    background-color: #797;
    border: none;
}

button {
    border: none;
    background-color: #477;
}

main {
    padding: 1rem;
}

.stat-silver { color: grey; }
.stat-gold { color: yellow; }

